* {
  box-sizing: border-box;
}

body {
  background-color: black;
  color: rgb(255, 205, 41);
  font-family: 'Courier New', Courier, monospace;
}

a {
  color: rgb(255, 205, 41);
}

img {
  width: 300px;
  height: 300px;
}

header {
  background-image: url(/assets/images/bg.gif);
  filter: brightness(0) saturate(100%) invert(80%) sepia(77%) saturate(1628%) hue-rotate(335deg) brightness(109%) contrast(103%);
  text-align: center;
  font-size: 35px;
}

nav {
  float: left;
  width: 15%;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

article {
  float: left;
  padding: 20px;
  width: 85%;
}

section::after {
  content: "";
  display: table;
  clear: both;
}

footer {
  font-size: 10px;
  padding: 10px;
  text-align: center;
}