body {
  background-color: black;
  color: white;
  font-size: 16px;
  text-align: center;
  font-family: 'Consolas', monospace;
}

header {
  font-size: 12px;
  color: grey;
  padding: 16px;
}

.label {
  font-size: 12px;
  color: lightgrey;
  padding: 8px;
}

footer {
  font-size: 12px;
  color: grey;
  padding: 16px;
}