$font: '8bitOperatorPlus-Bold', monospace
$red: #ff2020
$yellow: #f9ff10

@font-face
    font-family: '8bitOperatorPlus-Bold'
    src: url('/assets/fonts/8bitOperatorPlus-Bold.ttf') format('truetype')
    font-weight: normal
    font-style: normal

body
    background-color: #000000
    color: #ffffff
    font-family: $font

header
    background-color: $red
    padding: 30px
    text-align: center
    font-size: 35px
    color: $yellow