body {
  background-color: black;
  color: white;
  font-family: 'Comic Sans MS', cursive;
  font-size: 16px;
}

header {
  text-align: center;
  background-color: #ff2020;
  color: #f9ff10;
  font-size: 24px;
}